<div class="hfe-before-footer-wrap">
    <div class='footer-width-fixer'>
        <div data-elementor-type="wp-post" data-elementor-id="388" class="elementor elementor-388">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-16a5f6a elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
                data-id="16a5f6a" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3608601"
                        data-id="3608601" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-4f8bd4b elementor-invisible elementor-widget elementor-widget-heading"
                                data-id="4f8bd4b" data-element_type="widget"
                                data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
                                data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default">Ne ratez plus
                                        rien</h2>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-0e9f34a elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                data-id="0e9f34a" data-element_type="widget" data-widget_type="divider.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-divider">
                                        <span class="elementor-divider-separator">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-9ec7f2b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="9ec7f2b" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-883680a"
                                        data-id="883680a" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-0d7f58d elementor-invisible elementor-widget elementor-widget-heading"
                                                data-id="0d7f58d" data-element_type="widget"
                                                data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default">
                                                        Rejoindre notre newsletter</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-731c6c5"
                                        data-id="731c6c5" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-f15096e elementor-shape-circle e-grid-align-mobile-center e-grid-align-left elementor-grid-0 elementor-widget elementor-widget-social-icons"
                                                data-id="f15096e" data-element_type="widget"
                                                data-widget_type="social-icons.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-social-icons-wrapper elementor-grid">
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-whatsapp elementor-repeater-item-e113599"
                                                                href="https://wa.me/message/D3BZ64PJNDBOO1"
                                                                target="_blank">
                                                                <span
                                                                    class="elementor-screen-only">Whatsapp</span>
                                                                <i class="fab fa-whatsapp"></i> </a>
                                                        </span>
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-860b168"
                                                                href="https://www.facebook.com/hepo.dakar"
                                                                target="_blank">
                                                                <span
                                                                    class="elementor-screen-only">Facebook-f</span>
                                                                <i class="fab fa-facebook-f"></i> </a>
                                                        </span>
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-8932e7d"
                                                                href="https://www.instagram.com/hepo_dakar/"
                                                                target="_blank">
                                                                <span
                                                                    class="elementor-screen-only">Instagram</span>
                                                                <i class="fab fa-instagram"></i> </a>
                                                        </span>
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-d2e1146"
                                                                href="https://www.linkedin.com/company/80564797/"
                                                                target="_blank">
                                                                <span
                                                                    class="elementor-screen-only">Linkedin</span>
                                                                <i class="fab fa-linkedin"></i> </a>
                                                        </span>
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-849b9ca"
                                                                href="https://twitter.com/HepoDakar"
                                                                target="_blank">
                                                                <span
                                                                    class="elementor-screen-only">Twitter</span>
                                                                <i class="fab fa-twitter"></i> </a>
                                                        </span>
                                                        <span class="elementor-grid-item">
                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-bf9ec14"
                                                                href="https://www.youtube.com/channel/UCCn46mdELOi8pQ6M_e3zgLg"
                                                                target="_blank">
                                                                <span
                                                                    class="elementor-screen-only">Youtube</span>
                                                                <i class="fab fa-youtube"></i> </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>