<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
    <div class='footer-width-fixer'>
        <div data-elementor-type="wp-post" data-elementor-id="334" class="elementor elementor-334">
            <section
                class="elementor-section elementor-top-section elementor-element elementor-element-cefb697 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="cefb697" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-57f3b40"
                        data-id="57f3b40" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-499db7d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="499db7d" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-e2a591a"
                                        data-id="e2a591a" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-b864683 elementor-widget elementor-widget-image"
                                                data-id="b864683" data-element_type="widget"
                                                data-widget_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <img src="/images/logo-1-pdn2k8dx6sbjii6xknin23xlyazt5xmo8wy3suregw.png"
                                                        title="logo-1" alt="logo-1" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-160dee5 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="160dee5" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7101862"
                                        data-id="7101862" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-a93c03b elementor-widget elementor-widget-heading"
                                                data-id="a93c03b" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default">
                                                        Nos Programmes</h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-c7dcc4f elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                                data-id="c7dcc4f" data-element_type="widget"
                                                data-widget_type="divider.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-divider">
                                                        <span class="elementor-divider-separator">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-cad4d5c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="cad4d5c" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="index-5.html">

                                                                <span class="elementor-icon-list-text">BTS /
                                                                    DTS</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="index-5.html">

                                                                <span
                                                                    class="elementor-icon-list-text">Licences</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="index-5.html">

                                                                <span
                                                                    class="elementor-icon-list-text">Masters</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="index-5.html">

                                                                <span
                                                                    class="elementor-icon-list-text">Certificats
                                                                    Professionnels de Spécialité</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-6f943f9"
                                        data-id="6f943f9" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-a367f8e elementor-widget elementor-widget-heading"
                                                data-id="a367f8e" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default">
                                                        L'Ecole </h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-033b93b elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                                data-id="033b93b" data-element_type="widget"
                                                data-widget_type="divider.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-divider">
                                                        <span class="elementor-divider-separator">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-d436312 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="d436312" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul class="elementor-icon-list-items">
                                                        <li class="elementor-icon-list-item">
                                                            <a href="index-7.html">

                                                                <span class="elementor-icon-list-text">Mot du
                                                                    President</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="index-6.html">

                                                                <span
                                                                    class="elementor-icon-list-text">Présentation</span>
                                                            </a>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <span
                                                                class="elementor-icon-list-text">Gallerie</span>
                                                        </li>
                                                        <li class="elementor-icon-list-item">
                                                            <a href="index-65.html">

                                                                <span
                                                                    class="elementor-icon-list-text">Contact</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-61e93de"
                                        data-id="61e93de" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-8a444d5 elementor-widget elementor-widget-heading"
                                                data-id="8a444d5" data-element_type="widget"
                                                data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default">
                                                        Actualite</h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-25b205e elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                                data-id="25b205e" data-element_type="widget"
                                                data-widget_type="divider.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-divider">
                                                        <span class="elementor-divider-separator">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-4cd60e1 elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-widget elementor-widget-elementor-blog-posts"
                                                data-id="4cd60e1" data-element_type="widget" id="footerGrid"
                                                data-settings="{&quot;columns&quot;:&quot;3&quot;,&quot;columns_tablet&quot;:&quot;2&quot;,&quot;columns_mobile&quot;:&quot;1&quot;}"
                                                data-widget_type="elementor-blog-posts.default">
                                                <div class="elementor-widget-container">
                                                    <div class="wpcap-grid">
                                                        <div
                                                            class="wpcap-grid-container elementor-grid wpcap-grid-desktop-3 wpcap-grid-tablet-2 wpcap-grid-mobile-1">


                                                            <article id="post-3140"
                                                                class="wpcap-post post-3140 post type-post status-publish format-standard hentry category-articles ast-article-single">

                                                                <div class="post-grid-inner">


                                                                    <div class="post-grid-text-wrap">
                                                                        <p class="title">
                                                                            <a href="index-66.html">Simple tips
                                                                                to Overcome a Fearful-Avoidant
                                                                                accessory Style &#8211; the
                                                                                woman standard</a>
                                                                        </p>
                                                                    </div>

                                                                </div><!-- .blog-inner -->

                                                            </article>


                                                            <article id="post-3132"
                                                                class="wpcap-post post-3132 post type-post status-publish format-standard hentry category-articles ast-article-single">

                                                                <div class="post-grid-inner">


                                                                    <div class="post-grid-text-wrap">
                                                                        <p class="title">
                                                                            <a href="index-67.html">Best Spots
                                                                                To Meet Babes In Raleigh &amp;
                                                                                Dating Guide &#8211;
                                                                                WorldDatingGuides</a>
                                                                        </p>
                                                                    </div>

                                                                </div><!-- .blog-inner -->

                                                            </article>


                                                            <article id="post-3122"
                                                                class="wpcap-post post-3122 post type-post status-publish format-standard hentry category-articles ast-article-single">

                                                                <div class="post-grid-inner">


                                                                    <div class="post-grid-text-wrap">
                                                                        <p class="title">
                                                                            <a href="index-68.html">The simplest
                                                                                way To Generally Meet MILFs
                                                                                Inside My Region</a>
                                                                        </p>
                                                                    </div>

                                                                </div><!-- .blog-inner -->

                                                            </article>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-cac8ad7"
                                        data-id="cac8ad7" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-e03a316 elementor-widget elementor-widget-google_maps"
                                                data-id="e03a316" data-element_type="widget"
                                                data-widget_type="google_maps.default">
                                                <div class="elementor-widget-container">
                                                    <style>
                                                        /*! elementor - v3.8.1 - 13-11-2022 */
                                                        .elementor-widget-google_maps .elementor-widget-container {
                                                            overflow: hidden
                                                        }

                                                        .elementor-widget-google_maps iframe {
                                                            height: 300px
                                                        }
                                                    </style>
                                                    <div class="elementor-custom-embed">
                                                        <iframe frameborder="0" scrolling="no" marginheight="0"
                                                            marginwidth="0"
                                                            src="https://maps.google.com/maps?q=Hepo%20Dakar%2C%20Dakar%2C%20Senegal&amp;t=m&amp;z=12&amp;output=embed&amp;iwloc=near"
                                                            title="Hepo Dakar, Dakar, Senegal"
                                                            aria-label="Hepo Dakar, Dakar, Senegal"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-c4dd7ca elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="c4dd7ca" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-cd3cace"
                                        data-id="cd3cace" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-e946b81 elementor-icon-list--layout-inline elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                                                data-id="e946b81" data-element_type="widget"
                                                data-widget_type="icon-list.default">
                                                <div class="elementor-widget-container">
                                                    <ul
                                                        class="elementor-icon-list-items elementor-inline-items">
                                                        <li
                                                            class="elementor-icon-list-item elementor-inline-item">
                                                            <span class="elementor-icon-list-text">Politique de
                                                                confidentialité</span>
                                                        </li>
                                                        <li
                                                            class="elementor-icon-list-item elementor-inline-item">
                                                            <span class="elementor-icon-list-text">Protection
                                                                des données</span>
                                                        </li>
                                                        <li
                                                            class="elementor-icon-list-item elementor-inline-item">
                                                            <span class="elementor-icon-list-text">Mentions
                                                                légales</span>
                                                        </li>
                                                        <li
                                                            class="elementor-icon-list-item elementor-inline-item">
                                                            <a href="http://focussocialmediaagency.com/">

                                                                <span class="elementor-icon-list-text">Powerd by
                                                                    FO.CUS </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>